    <a class="btn btn-primary" href="{{ path(module ~ '.edit', { 'id' : model.id }) }}">
        <i class="fa fa-edit"></i>
    </a>
    <a class="btn btn-danger">
        <i class="fa fa-trash-o"></i>
    </a>
    {% if link is defined and link is not null  %}
    <a class="btn btn-info" href="{{ path(module, {'slug' : model.slug }) }}">
        <i class="fa fa-external-link"></i>
    </a>
    {% endif %}