<div class="ibox-footer text-right">
    {{ form_widget(form.apply, { 'label' : 'apply'|trans, 'attr' : {'class': 'btn btn-lg btn-primary'} } ) }}
    {{ form_widget(form.save, { 'label' : 'save'|trans, 'attr' : {'class': 'btn btn-lg btn-success'} } ) }}
</div>
